aniso8601==3.0.0
click==6.7
Flask==0.12.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pytz==2018.3
six==1.11.0
SQLAlchemy==1.2.5
SQLAlchemy-ImageAttach==1.1.0
Wand==0.4.4
Werkzeug==0.14.1
