<!-- <script type="text/javascript" src="{{ url_for('static', filename='populate.js') }}"></script> -->
<!-- <script type="text/javascript" src="{{ url_for('static', filename='requesthandler.js') }}"></script> -->
<script type="text/javascript" src="{{ url_for('static', filename='request.js') }}"></script>

{% extends "layout.html" %}
{% block title %}Park Pal{% endblock %}
{% block body %}<!DOCTYPE html>

<div class="container">
<h3> Welcome to Park Pal&#8482;! </h3>
<br />

  <br />
  <div>

    <h4> ( Please excuse our dust, we're renovating 🙂 ) </h4>

  </div>
</div>

<form action="index" method="post">
  <label>Spots:<input type="number" id="name" value="" /></label>
  <button type="button" id="btn-post" onclick="do_ajax();">Click</button>
  <div id="result"></div>
</form>

{% endblock %}
