
{% extends "layout.html" %}
{% block title %}Park Pal{% endblock %}
{% block body %}<!DOCTYPE html>



<script type='text/javascript'>
  // For refreshing page every minute
  $(document).ready(function() {
  setInterval(function() {
    cache_clear()
  }, 20000);
  });
  function cache_clear() {
    window.location.reload(true);
  }
</script>

<div class="container">
<h3> Welcome to Park Pal&#8482;! </h3>
<br />

  <br />
  <div>

    <!-- <h4> ( Please excuse our dust, we're renovating 🙂 ) </h4> -->

    <div class="container">
      <br /> <br />
      <h4>Parking Status:</h4>
      <img src= {{ url_for('static', filename='processed/picture.jpg') }} class="img-thumbnail"/>
    </div>
    <div class="container">
      </br>
      <h4>Open parking spots: {{ openspots }}</h4>
    </div>
</div>

{% endblock %}
