<!doctype html>
<title>{% block title %}Welcome{% endblock %} | Park Pal</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='overrides.css') }}" >
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<nav class="navbar">
  <div class="container">
    <div class="row">
      <div class="col-md-4"> <a href="{{ url_for('default')}}" id="home"><h2><font color="white">Park Pal&#8482;</font></h2></a> </div>
    </div>
  </div>
</nav>

<div class="page">
  <div class="navigation">
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <div class="alert alert-info"> {{ message }}</div>
      {% endfor %}
      </ul>

    {% endif %}
  {% endwith %}

  <div class="body">
  {% block body %}{% endblock %}
  </div>

</div>
